#modal {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba($color: black, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  #beerDetails {
    overflow: hidden;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10%;
    display: flex;
    justify-content: space-between;

    #imgContainer {
      display: flex;
      justify-content: center;
      border-right: 4px solid black;
      overflow: hidden;
      height: 100%;
      width: 50%;
      padding: 10px;
      #img {
        height: 100%;
        object-fit: contain;
      }
    }
    #content {
      display: flex;
      flex-direction: column;
      width: 50%;
      #modalHeader {
        position: relative;
        width: 90%;
        h1 {
          overflow-wrap: break-word;
          width: calc(100% - 50px);
          margin: 5px;
        }
        #close {
          border: none;
          background: white;
          position: absolute;
          top: 10px;
          right: 0;
          width: 40px;
          height: 40px;
          cursor: pointer;
          &:hover,
          &:focus {
            background-color: #f6c101;
          }
        }
      }
      #description {
        width: 90%;
        margin: 5%;
        overflow: auto;
      }
    }
  }
}
