* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;

  &::selection {
    background: #f6c101;
  }
}
#root {
  display: flex;
  justify-content: center;
}

#scrollTo {
  height: 1vh;
  width: 100%;
  background: #f6c101;
  border-radius: 50rem;
}

#app {
  width: 100%;
  max-width: 1200px;
}
